## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [31]:
sample_list_1 = []
for i in range(0,80):
    n = random.randint(1,100)
    sample_list_1.append(n)
print(sample_list_1)

[16, 18, 33, 64, 37, 90, 79, 16, 19, 72, 17, 27, 99, 77, 50, 53, 76, 69, 3, 92, 43, 94, 86, 95, 95, 21, 39, 87, 10, 23, 13, 12, 31, 41, 19, 17, 51, 18, 100, 94, 49, 2, 4, 98, 68, 78, 64, 64, 33, 62, 69, 70, 7, 76, 12, 56, 47, 50, 51, 91, 4, 47, 41, 67, 35, 19, 7, 69, 1, 67, 5, 12, 83, 72, 5, 12, 53, 100, 93, 16]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [32]:
set1 = set(sample_list_1)
print(len(set1))

#The lenght is only 52 because there are no duplicate values within sets

52

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [33]:
sample_list_2 = []
for i in range(0,80):
    n = random.randint(1,100)
    sample_list_2.append(n)
print(sample_list_2)

[87, 89, 67, 29, 80, 74, 45, 45, 4, 63, 1, 61, 45, 41, 12, 6, 77, 74, 59, 36, 12, 7, 54, 37, 77, 10, 93, 10, 1, 95, 20, 53, 19, 57, 22, 36, 33, 31, 84, 83, 64, 13, 81, 21, 98, 96, 21, 70, 11, 91, 42, 31, 19, 13, 93, 82, 63, 95, 30, 17, 100, 20, 4, 8, 56, 2, 55, 97, 8, 64, 62, 40, 67, 15, 20, 52, 58, 3, 89, 36]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [34]:
set2 = set(sample_list_2)
print(len(set2))

#The lenght is only 57 because there are no duplicate values within sets

57

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [35]:
x = []
for i in set1:
        if i not in set2:
            x.append(i)

set3 = set(x)
print(set3)

{5, 16, 18, 23, 27, 35, 39, 43, 47, 49, 50, 51, 68, 69, 72, 76, 78, 79, 86, 90, 92, 94, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [36]:
x_2 = []

for i in set2:
    if i not in set1:
        x_2.append(i)

set4 = set(x_2)
print(set4)

{6, 8, 11, 15, 20, 22, 29, 30, 36, 40, 42, 45, 52, 54, 55, 57, 58, 59, 61, 63, 74, 80, 81, 82, 84, 89, 96, 97}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [37]:
x_3 = []

for i in set1:
    if i in set2:
        x_3.append(i)

set5 = set(x_3)
print(set5)

{1, 2, 3, 4, 7, 10, 12, 13, 17, 19, 21, 31, 33, 37, 41, 53, 56, 62, 64, 67, 70, 77, 83, 87, 91, 93, 95, 98, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [ ]:
if set3.union(set5) == set1:
    print(True)
        
if set4.union(set5) == set2:
    print(True)

if set1.intersection(set2) == set5:
    print(True)
     
if set1.difference(set5) == set3:
    print(True)
    
if set2.difference(set5) == set4:
    print(True)

#### Create an empty set called `set6`.

In [41]:
set6 = {}

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [55]:
set6 = set3.union(set5)

In [86]:
set6.update(set5 & set3)
set6

set

#### Check if `set1` and `set6` are equal.

In [56]:
if set1 == set6:
    print(True)

else:
        print(False)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [65]:
print(set2.issubset(set1))

print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [69]:
set7 = set3.union(set4, set5)
set8 = set1.union(set2)

#### Using the `pop` method, remove the first element from `set1`.

In [75]:
set1_pop = list(set1)

set1_pop.pop()

3

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [79]:
set1.difference_update(set_to_remove)
set1